img {
    width: 1000px;
}
body {
    text-align: centre;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(160, 202, 240);
    color: rgb(8, 6, 42);
}
